.root{
    -fx-background-color: #121212
}
.toggle-button{
    -fx-border-color: none;
    -fx-text-fill: #FFFFFF;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #3700D3 0%, #3700B3 100%),
            #3700A3,
            #372FF3,
            radial-gradient(center 50% 50%, radius 100%, #373FF3, #372AA3);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );

}
.toggle-button:selected{
    -fx-border-color: none;
    -fx-text-fill: #121212;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #BB86FC 0%, #AB86FC 100%),
            #AA86FC,
            #BA75EB,
            radial-gradient(center 50% 50%, radius 100%, #BB86FC, #AA75EB);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}
.button {
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );*/
}

.log-out-button {
    -fx-background-color: rgba(255, 54, 54);
    -fx-text-fill: #FFFFFF;
}

.reset-button {
    -fx-background-color: #CF6679;
    -fx-text-fill: #121212;
}

.publish-button {
    -fx-background-color: #F2CC0F;
    -fx-text-fill: #121212;
}

.random-button {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #3700D3 0%, #3700B3 100%), #3700A3, #372FF3,
    radial-gradient(center 50% 50%, radius 100%, #373FF3, #372AA3);
    -fx-text-fill: #FFFFFF;

}

.maze-button {
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-background-radius: 0px;
    -fx-border-width: 3px;
    -fx-border-color: rgba(0, 0, 0, 0.05);
    /*-fx-background-radius: 1px;*/
}

.maze-wall {
    -fx-background-color: white;
}

.maze-start {
    -fx-background-color: rgba(235, 59, 97);
}

.maze-empty {

}

.maze-end {
    -fx-background-color: rgba(81, 224, 121);
}

.maze-button:hover {
    -fx-border-color: red;
    /*-fx-border-radius: 5px;*/
}

.label{
    -fx-text-fill: #121212;
}
