.root{
    -fx-background-color: #121212
}
.toggle-button{
}
.toggle-button:selected{
    -fx-border-color: none;
    -fx-text-fill: #121212;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #BB86FC 0%, #AB86FC 100%),
            #AA86FC,
            #BA75EB,
            radial-gradient(center 50% 50%, radius 100%, #BB86FC, #AA75EB);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.edit-button, .hint-button {
    -fx-border-color: none;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 73px;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #3700D3 0%, #3700B3 100%),
            #3700A3,
            #372FF3,
            radial-gradient(center 50% 50%, radius 100%, #373FF3, #372AA3);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.edit-button:hover, .publish-button, .log-out-button, .hint-button {
    -fx-cursor: hand;
}

.hint-button {
    -fx-pref-width: 50px;
}

.maze-hint {
    -fx-background-color: #f7b500 !important;
}

.button:hover, .toggle-button:hover {
    -fx-text-fill: #d4d4d4;
}

.log-out-button {
    -fx-background-color: rgba(255, 54, 54);
    -fx-text-fill: #FFFFFF;
}

/*.reset-button {*/
/*    -fx-background-color: #CF6679;*/
/*    -fx-text-fill: #121212;*/
/*}*/

.publish-button {
    -fx-background-color: #f7b500;
    -fx-text-fill: white;
}

.random-button {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #3700D3 0%, #3700B3 100%), #3700A3, #372FF3,
    radial-gradient(center 50% 50%, radius 100%, #373FF3, #372AA3);
    -fx-text-fill: #FFFFFF;

}

.maze-button, .maze-button-play {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-radius: 0px;
    -fx-border-width: 3px;
    -fx-border-color: rgba(0, 0, 0, 0.05);
}

.maze-player {
    -fx-background-color: rgba(50, 100, 255) !important;
    -fx-border-radius: 9px !important;
    -fx-background-radius: 15px !important;
    -fx-border-color: rgba(20, 20, 20) !important;
    -fx-border-width: 6px !important;
}


.maze-wall {
    -fx-background-color: white;
}

.maze-start {
    -fx-background-color: rgba(235, 59, 97);
}

.maze-empty {

}

.maze-end {
    -fx-background-color: rgba(81, 224, 121);
}

.error-wall {
    -fx-background-color: rgba(245, 128, 115) !important;
}

.maze-button:hover {
    -fx-border-color: red;
}

.label{
    -fx-text-fill: #121212;
}

.maze-name-field {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-text-fill: white;
    -fx-pref-width: 170px;
}

.maze-name {
    -fx-fill: white;
    -fx-font-size: 13pt;
}
